
/* スマホ用のCSSはメディアクエリの外に記述する */

.accordion {
  width: 100%;
  margin: 0 auto;
}
.accordion-trigger {
  margin: 0;
  padding: 10px;
  display: block;
  background: #333;
  color: #FFF;
  border-top: 1px solid #fff;
}
.accordion-contents {
  margin: 0;
  padding: 10px; */
/*ディスプレイ追記*/
  display: none;
  border: 1px solid: #ccc;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  .accordion {
    max-width: 481px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
  .accordion {
    max-width: 960px;
    margin: 0 auto;
  }
}
