
/* スマホ用のCSSはメディアクエリの外に記述する */
.accordion {
  width: 100%;
  margin: 0 auto;
}
.accordion-trigger {
  margin: 0;
  padding: 10px;
  display: block;
  background: #333;
  color: #FFF;
  border-top: 1px solid #fff;
  font-size: clamp(10px,1rem + 1vw,24px);
}
.accordion-contents {
  margin: 0;
  padding: 10px;
  border: 1px solid: #ccc;
  font-size: clamp(10px,1rem + 1vw,24px);
/*ディスプレイ追記*/
  display: none;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  .accordion {
    max-width: 481px;
    margin: 0 auto;
  }
  .accordion-contents {
    background-color: yellow;
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
  .accordion {
    max-width: 960px;
    margin: 0 auto;
  }
  .accordion-contents {
    background-color: aqua;
  }
}
